{{ partial "header" . }}

<main>

    <div class="intro">

        <p>
            This is the personal website of <strong>Zhansong (Jason) Li</strong>.
        </p>

        <p>
            <ul>
                <li><a href="https://tinyurl.com/jasonlicv">CV</a></li>
                <li>Contacts:
                    <ul>
                        <li><a href="mailto:lizhansong@hotmail">Personal</a></li>
                        <li><a href="mailto:u5844206@anu.edu.au">ANU</a></li>
                    </ul>
                </li>
            </ul>
        </p>

    </div>

</main>

{{ partial "footer" . }}
