{{ partial "header" . }}

<main>

    <div class="intro">

        <p>
            This is the personal website of <strong>Zhansong "Jason" Li</strong>.
        </p>

        <p>
            My resume can be found <a href="resume.pdf">here</a>.
        </p>

        <p>
            In case you want to send me top secret documents:
            <ul>
                <li>PGP Fingerprint: EBCA A5AD 56B4 26CB 44F8 DDD2 BFBD 0FEB 6CEE 5718</li>
                <li>PGP Public Key: <a href="zhansongli-public-key.asc">zhansongli-public-key.asc</a></li>
            </ul>
        </p>

    </div>

</main>

{{ partial "footer" . }}
